*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 30px;
    background-image: url("img/divorcio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    font-size: 30px;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid;color: gray;
    background-color: blueviolet;
}

button> .btn{
    color: white;
}

button:hover{
    background-color: aqua;
}
 a{
    text-decoration: none;
    color:aqua;
    padding: 20px;
    font-size: 30px;
 }

 a:hover{
    background-color: blueviolet;
 }

 header{
    margin: 20px;
    margin-top: 40px;
    padding: 5px;
    background-color: chocolate;
    text-align: center;
    font-size: 40px;
 }

 p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
 }